body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#app {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input[type="file"],
.input-group textarea,
.input-group input[type="text"],
.input-group select {
    width: calc(100% - 22px); /* Account for padding and border */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#selectOutputFolder,
#selectConvertedOutputFolder {
    margin-left: 10px;
}

#generateButton,
#convertButton {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
}

#messages {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    min-height: 30px;
}